
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InformaCam: Submission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="../js/j3mweb.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">InformaCam</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Admin</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Dashboard</a></li>
              <li><a href="#about">Submissions</a></li>
              
              <li><a href="#about">About</a></li>

              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
       
        <div class="span12">
          <div id="img-mask" class="span12" style="height:400px;overflow:hidden;">
           
            <img id="img-main"  class="span12" src="../sample/sample.jpg"/>
          
            <!--            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          -->
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Submitter</h2>
              <p>
"intent": {
        "ownershipType": 400,
        "alias": "wendy",
        "intendedDestination": "International Bar Association",
        "pgpKeyFingerprint": "3ba450dd417b58c86c4b68244dae4bc672139b1e"
    },
              </p>
            </div><!--/span-->
            <div class="span4">
              <h2>Camera Model</h2>
              <p>"exif": {
            "timestamp": "2013:10:07 09:05:49",
            "exposure": "0.0011",
            "orientation": 0,
            "flash": -1,
            "model": "Nexus 4",
            "duration": 0,
            "height": 2448,
            "iso": "100",
            "location": [
                0,
                0
            ],
            "width": 3264,
            "whiteBalance": -1,
            "make": "LGE",
            "focalLength": -1
        },</p>
            </div><!--/span-->
            <div class="span4">
              <h2>Genealogy</h2>
              <p> "genealogy": {
        "localMediaPath": "/610e372f67c7ce45d9fe34177bfc40f0b452a681",
        "dateCreated": 1381161951140,
        "hashes": [
            "e893c12c7464786fc56ff2fa6c83104a"
        ],
        "createdOnDevice": "3ba450dd417b58c86c4b68244dae4bc672139b1e"
    }</p>
            </div><!--/span-->
          </div><!--/row-->
     <div class="row-fluid">
            <div class="span12">
              <h1>User Appended Forms</h1>
              <p> "userAppendedData": [
            {
                "timestamp": 1381162104741,
                "id": "eb5d71d7db27dd580158e42bef3dea6f",
                "index": 0,
                "regionBounds": {
                    "startTime": -1,
                    "displayTop": 277,
                    "height": 561,
                    "width": 478,
                    "displayLeft": 439,
                    "left": 878,
                    "endTime": -1,
                    "displayWidth": 239,
                    "top": 702,
                    "displayHeight": 230
                },
                "associatedForms": [
                    {
                        "path": "/forms/46b9f8e70113ae0f39ae26338c0dc433.xml",
                        "id": "eb5a83687ba23f17ce335a16b05df629",
                        "answerData": {
                            "iW_race": "fghjj",
                            "iW_name": "dghjjhbx"
                        },
                        "namespace": "iWitness v 1.0"
                    }
                ]
            }
        ]</p>
            </div>

        </div>

         <div class="row-fluid">
            <div class="span12">
              <h1>Sensor Capture</h1>
              <p>
"sensorCapture": [
            {
                "timestamp": 1381161951368,
                "sensorPlayback": {
                    "lightMeterValue": 202,
                    "pitch": -13.13934326171875,
                    "roll": -24.1790771484375,
                    "azimuth": 1.9195556640625
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161943604,
                "sensorPlayback": {
                    "acc_z": -2.45587158203125,
                    "acc_y": 9.56353759765625,
                    "acc_x": 0.420318603515625
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161954474,
                "sensorPlayback": {
                    "lightMeterValue": 1340
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161958347,
                "sensorPlayback": {
                    "lightMeterValue": 93,
                    "pitch": -28.73992919921875,
                    "roll": -21.47979736328125,
                    "azimuth": -12.298583984375
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161942697,
                "sensorPlayback": {
                    "lightMeterValue": 551,
                    "pitch": -6.35986328125,
                    "roll": -30.95855712890625,
                    "azimuth": 14.8193359375
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161946529,
                "sensorPlayback": {
                    "acc_z": 1.858154296875,
                    "acc_y": -0.5052337646484375,
                    "acc_x": -9.524871826171875
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161940144,
                "sensorPlayback": {
                    "lightMeterValue": 1030
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161945828,
                "sensorPlayback": {
                    "pitch": -2.81982421875,
                    "roll": -25.9185791015625,
                    "azimuth": 22.85919189453125
                },
                "captureType": 271
            },
            {
                "timestamp": 1381161953470,
                "sensorPlayback": {
                    "lightMeterValue": 802,
                    "pitch": -30.059814453125,
                    "roll": -24.359130859375,
                    "azimuth": -4.61883544921875
                },
                "captureType": 271
            },
            {
              </p>
            </div>
      </div>
        


        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p><em>Developed by <a href="https://guardianproject.info">The Guardian Project</a>, in partnership with <a href="http://witness.org">WITNESS</a></em></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
